*{
    margin: 0;
    padding: 0;
}


.contenedor {
    position: relative;
    text-align: center;

  }
  
  .contenedor img {
    width: 100%;
height: auto;
  }
  
  .contenedor p {
    position: absolute;
    top: 50%;
    left: 9%; /* Margen izquierdo del 12% en dispositivos no móviles */
    transform: translate(-50%, -50%);
    color: white;

    padding: 10px;
  }
  
  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    .contenedor p {

      left: 16%; /* Cambias el margen izquierdo a 16% en dispositivos móviles */
      width: 100%; /* Asegura que el texto se ajuste al ancho del contenedor en dispositivos móviles */
    }
  }
